.App {
  text-align: center;
  background-color: #231942;
  color: #e0b1cb;

}

.items{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

header{
  background-color: #5e548e;
  padding: 20px;
}

.cartButtons{
  
}